@font-face {
  font-family: rodIndie;
  src: url("/assets/font/IndieFlower-Regular.ttf");
}
.footer {
  background: #90909060;
  color: $brand-color;
  text-align: center;
  min-height: 56px;
  line-height: 45px;
  width: $container-width;
  margin: 10px auto 10px;
}
.footer a {
  color: #000000;
  padding: 0px 3px 0px;
  text-decoration: none;
}
@media (max-width: $container-width) {
  .footer {
    background: #90909060;
    color: $brand-color;
    text-align: center;
    min-height: 56px;
    line-height: 45px;
    width: 95vw;
  }  
}
.footer-description {
  display: inline;
  color: #000000;
  font-size:1rem;
  font-family: $base-font-family;
}
.footer-description img {
  min-height: 36px;
  line-height: 45px;
  height: 15vh;
  width: 25vw;
}
