@font-face {
  font-family: notIndie;
  src: url("/assets/font/Dosis-SemiBold.ttf");
}
.featured-post {
  height: 400px;
  margin: 5px 10px 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.featured-post h2 {
  bottom: 0;
  margin: 0;
  padding: 10px;
  position: absolute;
}
.featured-post h2 span {
  display: inline-block;
  color: white;
  font: bold 24px/45px notIndie;
  letter-spacing: -1px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
}
.featured-post span a {
  color: white;
}
.featured-post h1 {
  margin: 10px;
}
/*
rod added this gradient
*/
body {
  background-color: #7A2048;  
  background: linear-gradient(-225deg, #f8dbd37f, #e73c7e7f, #23a6d57f, #233bd57f, #ab23d57f, #1079617f, #f08b8b7f);
  background-size: 4000% 4000%;
  background-repeat: no-repeat;
  animation: gradient 10s ease infinite;
}
@media only screen and (max-width: 600px) {
  body {
    background-color: #fba6cd;  
    background: linear-gradient(-225deg, #f8dbd3, #e73c7e, #23a6d5, #233bd5, #ab23d5, #107961, #f08b8b);
    background-size: 20% 20%;
    animation: gradient 6s ease infinite;
  }
}
@keyframes gradient {
  0% {
      background-position: 0% 10%;
  }
  10% {
      background-position: 0% 20%;
  }
  20% {
      background-position: 0% 30%;
  }
  30% {
      background-position: 100% 40%;
  }
  40% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 0% 60%;
  }
  60% {
      background-position: 100% 70%;
  }
  70% {
      background-position: 90% 60%;
  }
  80% {
      background-position: 80% 50%;
  }
  90% {
      background-position: 70% 60%;
  }
  100% {
      background-position: 100% 0%;
  }
}

/*
  Pagination
*/

.pagination {
  text-align: center;
}
.pagination a {
  text-decoration: none;
}
.pagination-button {
  color: #999;
  border: 1px solid #e0e0e0;
  padding: 15px 45px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}
.pagination-active {
  color: black;
}
.pagination-active:hover {
  background-color: #e0e0e0;
}
