@font-face {
  font-family: rodIndie;
  src: url("/assets/font/IndieFlower-Regular.ttf");
}
h1 {
  color:#b01212;
  padding: 1px;
  display: inline;
  //animation: headerFade 5s linear infinite;
  
}

@keyframes headerFade {
  0% {// v
    color: #ff0000;
  } //r
  10% {
    color: #ffa600;
  } //o
  20% {
    color: #88ff00;
  } //y
  30%{
    color: #3cff77;
 } //g
  40% {
   color: #00d9ff;
 } // b
  50% {
   color: #1900ff;
 } //i
 60% {
  color: #b700ff;
} //v
70% {
 color: #ff000d;
} //v
80% {
 color: #00ff2a;
} //v
90% {
 color: #0026ff;
} //v
100% {
 color: #b99b36;
} //v
}

.post-content {
  width: 75%;
  display: block;
  margin: 10px auto 10px;
  color: #000000;
  background-color: #ffffffae;
  padding: 2%;
  outline-color: #000000;
  outline-style:solid;
  outline-width: 2px;
  padding-left: 20px;
}
.post-date {
  display: inline;
  margin-bottom: 1rem;
  color: #000000;
  font-size:1.1rem;
  background-color: #ffffff00;
  padding: 1px;
}
.featured-image img {
  align: middle;
  margin: 5px auto 25px;
  display: none;
  outline-color: #000000;
  outline-style:double;
}
@media (max-width: $container-width) {
  .post-content {
    width: 60vw;
    display: block;
    margin: 10px auto 10px;
  }
  .featured-image img {
    align: middle;
    margin: 5px auto 25px;
    display: block;
    max-width: 60vw;
  }
}
@media (max-width: $tablet-width) {
  .post-content {
    width: 95vw;
    display: block;
    margin: 10px auto 10px;
  }
  .featured-image img {
    align: middle;
    margin: 5px auto 25px;
    display: none;
    max-width: 95vw;
  }
}
.post-share {
  padding-bottom: 1rem;
}
.sharing-icons a {
  padding-right: 10px;
}

/*
  Related Posts
*/

.related {
  padding-bottom: 1rem;
}
.related ul, ol, dl {
  margin: 0px;
}
.related-posts {
  padding: 10px 0px 10px;
  list-style: none;
  display: inline-block;
}
.related-thumbnail {
  position: relative;
  width: 600px;
  height: 200px;
  overflow: hidden;
}
.related img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  width: 600px;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.related-title {
  float: right;
  padding-bottom: .5rem;
  font-family: $body-font-family;
}
@media (max-width: $container-width) {
  .related-thumbnail{
    width: 60vw;
  }
}
@media (max-width: $tablet-width) {
  .related-thumbnail{
    width: 95vw;
  }
}
